<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>Jobeed</title>
  </head>
  <body>

    <div class="header">
      <div class="header__left">
        <img src="../static/jobeed_logo.png" alt="" />
        <div class="header__search">
          <i class="material-icons"> search </i>
          <input type="text" />
        </div>
      </div>

      <div class="header__right">
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> home </i>
          <h3>Home</h3>
        </div>
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> supervisor_account </i>
          <a href="{{ url_for('admin')}}"><h3 class="logout">Admin only</h3></a>
        </div>
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> business_center </i>
          <a href="{{ url_for('jobs')}}"><h3 class="logout">Jobs</h3></a>
        </div>
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> chat </i>
          <h3>Messaging</h3>
        </div>
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> notifications </i>
          <h3>Notifications</h3>
        </div>
        <div class="headerOption">
          <i class="material-icons headerOption__icon"> account_circle </i>
          <a href="{{ url_for('logout')}}"><h3 class="logout">logout</h3></a>
          
        </div>
      </div>
    </div>
    <!-- Header Ends --

    <!-- Main Body Starts -->
    <div class="body__main">
      <!-- Sidebar Starts -->
      <div class="sidebar">
        <div class="sidebar__top">
          <img src="../static/jobeed_logo.png" alt="" />
          <i class="material-icons sidebar__topAvatar"> account_circle </i>
          <h2>{{ current_user.username }}</h2>
        </div>

        <div class="sidebar__stats">
          <div class="sidebar__stat">
            <p>Who Viewed You</p>
            <p class="sidebar__statNumber">2,453</p>
          </div>
          <div class="sidebar__stat">
            <p>Views on post</p>
            <p class="sidebar__statNumber">2,650</p>
          </div>
        </div>

        <div class="sidebar__bottom">
          <p>Recent</p>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>Flask-python</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>programming</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>computer science</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>design</p>
          </div>
          <div class="sidebar__recentItem">
            <span class="sidebar__hash">#</span>
            <p>developer</p>
          </div>
        </div>
      </div>
      <!-- Sidebar Ends -->

      <!-- Feed Starts -->
      <div class="feed">
        <div class="feed__inputContainer">
          <div class="feed__input">
            <i class="material-icons"> create </i>
            <form>
              <input type="text" />
              <button type="submit">Send</button>
            </form>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: #70b5f9" class="material-icons"> insert_photo </i>
              <h4>Photo</h4>
            </div>
            <div class="inputOption">
              <i style="color: #e7a33e" class="material-icons"> subscriptions </i>
              <h4>Video</h4>
            </div>
            <div class="inputOption">
              <i style="color: #c0cbcd" class="material-icons"> event_note </i>
              <h4>Event</h4>
            </div>
            <div class="inputOption">
              <i style="color: #7fc15e" class="material-icons"> calendar_view_day </i>
              <h4>Write Article</h4>
            </div>
          </div>
        </div>

        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <!-- <i class="material-icons sidebar__topAvatar"> account_circle </i> -->
            <img src="../static/EPITA_logo.png" class="post_pic" >
            <div class="post__info">
              <h2>EPITA ECOLE d'ingenieurs en informatique</h2>
              <p>28,000 followers , 3d</p>
            </div>
          </div>

          <div class="post__body">
            <p>[#FEMII2023] Le FEMII 2023 était de retour pour une belle journée d'échanges pour nos épitéen.nes en fin de cursus. L'occasion pour eux de rencontrer + de 60 entreprises partenaires, dont de nombreux Alumni !
                Merci à toutes et à tous. 👏
                📌RDV du 18 au 20 octobre en virtuel.
                
                -----
                Bosch
                WINAMAX
                Danone
                Datadog
                Société Générale
                Thales
                CANAL+ Group
                Orange
                VINCI
                Accenture
                Doctolib
                Ubisoft
                KPMG
                FINAXYS
                onepoint
                Enedis
                Capgemini
                Lucca
                Polyconseil
                BNP Paribas
                Algofi
                Sagemcom
                
                #forum #femii #epita #partenaire #ingénieur #informatique</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->

        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <img src="../static/meta.png" class="post_pic" >
            <div class="post__info">
              <h2>Meta</h2>
              <p>11,000,000 followers ,3w</p>
            </div>
          </div>

          <div class="post__body">
            <p>To you, the explorers, the optimists, the believers, who see the value of every connection in helping people bring their own worlds to life. Let's connect.

                https://lnkd.in/gv4ykmnr</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->

        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <img src="../static/nike.jpeg" class="post_pic" >

            <div class="post__info">
              <h2>Nike</h2>
              <p>6,000,000 followers ,1w</p>
            </div>
          </div>

          <div class="post__body">
            <p>Twenty years of dominating performances. Twenty years of redefining human potential. Twenty years of inspiration and indispensable partnership. Nike is celebrating two decades with Eliud Kipchoge, whose steadfast determination and gentle nature has forever changed the running community.

                This celebration also represents what is unique to working at Nike — the opportunity to learn from and serve the best of the best.
                
                “Very few athletes have been able to dominate their sport for so long, while serving a larger purpose for humanity, like Eliud,” says Andrea Casati, Nike EMEA Men’s Brand Manager, who's been with the champion since his gold medal win in Tokyo in 2021. “His magnetic presence matched with his humble demeanor have moved Nike to constantly raise the bar of excellence. Working with him, I personally feel that privilege and responsibility everyday. Eliud has pushed Nike's creativity on product innovation, brand inspiration and connection with runners around the world, all while we continue to witness his never-ending journey to enduring greatness in his sport.”
                
                Here's to 20 more, Eliud.
                
                Learn more about the barriers the world’s greatest marathoner has broken and how we’re celebrating him, worldwide: https://lnkd.in/g5Ubqxym
                
                #JustDoIt #SwooshLife #BreakingBarriers</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->

        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <img src="../static/go.png" class="post_pic" >
            <div class="post__info">
              <h2>Google</h2>
              <p>32,000,000 ,2d</p>
            </div>
          </div>

          <div class="post__body">
            <p>25 years ago, Google Search launched from a garage in a California suburb. Today, we have offices and data centers on six continents, in over 200 cities. In honor of our 25th birthday, take a tour with us → https://goo.gle/3EStFVV #Google25</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->


        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <i class="material-icons sidebar__topAvatar"> account_circle </i>
            <div class="post__info">
              <h2>ATEF FAWAZ</h2>
              <p>2,000 ,1w</p>
            </div>
          </div>

          <div class="post__body">
            <p>Python is the language of possibilities. With its clean syntax and vast libraries, it's the canvas where your imagination becomes code. 🐍💻 #PythonProgramming #CodeArt</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->

        <!-- Post Starts -->
        <div class="post">
          <div class="post__header">
            <img src="../static/riad.jpeg" class="post_pic" >
            <div class="post__info">
              <h2>Riad Sleiman</h2>
              <p>23,000 ,1d</p>
            </div>
          </div>

          <div class="post__body">
            <p>Bachelors of Epita are the best developers !!</p>
          </div>

          <div class="feed__inputOptions">
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> thumb_up </i>
              <h4>Like</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> comment </i>
              <h4>Comment</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> share </i>
              <h4>Share</h4>
            </div>
            <div class="inputOption">
              <i style="color: gray" class="material-icons"> send </i>
              <h4>Send</h4>
            </div>
          </div>
        </div>
        <!-- Post Ends -->
      </div>
      <!-- Feed Ends -->

      <!-- Widgets Starts -->
      <div class="widgets">
        <div class="widgets__header">
          <h2>Jobeed</h2>
          <i class="material-icons"> info </i>
        </div>
        <div class="widgets__article">
          <div class="widgets__articleLeft">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__articleRight">
            <h4>web development // Flask</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>

        <div class="widgets__article">
          <div class="widgets__articleLeft">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__articleRight">
            <h4> battleship using flask</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>

        <div class="widgets__article">
          <div class="widgets__articleLeft">
            <i class="material-icons"> fiber_manual_record </i>
          </div>
          <div class="widgets__articleRight">
            <h4>Python advanced</h4>
            <p>Top news - 4500 readers</p>
          </div>
        </div>
      </div>

      <!-- Widgets Ends -->
    </div>
    <!-- Main Body Ends -->
  </body>
</html>